
//variables

$tableBorderColor:#0033cc;
$headingBgColor:#e8f7fc;
$tableColor: #dee2e6;
$whiteBgColor: #ffffff;
$headerBgColor: #e15546;
$searchFontColor: #ccc;
$warningColor: #da2421;
$headerBgColor: #e15546;
$primaryFontColor:#e15546;
$secondaryFontColor:#0033cc;
$headingFontColor:rgb(6, 6, 6);